/*
*** Remote CSS for WordCamp Portland 2017 web site
*** WPMU install from WordCamp Central
http://2017.portland.wordcamp.org/
You can add your own CSS here.

Click the help icon above to learn more.
*/

/* Faddah W. - adding @import url for Google fonts Jamie Schmid suggested for design */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/* Faddah W. - End of adding @import url Google fonts. */

/* Faddah W. - adding new font-family to native elements & selectors of web site */

body, p, q, blockquote, cite, caption, li {
	font-family: 'Raleway', serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', sans-serif;
	 font-weight: 700;
}

/* Faddah W. - End adding new font-family to native elements & selectors */

/* Faddah W. - styling changes for main Front Page. */

.site-description {
  font-size: 2rem;
  font-style: italic;
}

article#panel1 {
  background-color: oldlace;
  color: #000;
}

article#panel1 h2.entry-title,
article#panel1 li,
article#panel1 a {
  color: #000;
}

/* Faddah W. - End styling Front Page. */


.header-cta > a {
	background-color: #e74c3c;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff;
}

.header-cta > a:hover,
.navigation-top .header-cta.current-menu-item > a {
	background-color: #c0392b;
	color: #fff;
}

.main-navigation a {
	text-transform: uppercase;
}

/* TomD -- fixed menu at top
*/

/*
.navigation-top {
	position: absolute;
	top: 32px;
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 999;
}

@media (min-width: 48em) {
	.navigation-top {
		position: absolute;
		top: 32px;
		width: 100%;
		height: 70px;
		position: fixed;
	}
}

@media (min-width: 48em) {
	.custom-header {
		position: relative;
		padding-top: 70px;
	}

	.custom-header-media img {
		margin-top: 5px;
	}
}
*/

/* end TomD menu stuff */

/* Faddah W. -- Front Page Top soc. media icon row styling in flexbox rows.
*/

#front-page-soc-media-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

img.alignnone.size-full.wp-image-452,
img.alignnone.size-full.wp-image-453,
img.alignnone.size-full.wp-image-449,
img.alignnone.size-medium.wp-image-450 {
	padding-right: 13%;
}

/* end Faddh W. Page Top soc. media icon row styling. */

/* Faddah W. -- Footer widget styling using flexbox.
*/

.widget-column.footer-widget-2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: lightgray;
	justify-content: space-around;
	align-items: center;
}

/* #twitter_timeline-5 {
    flex-basis: 31%;
}

#facebook-likebox-4 {
    flex-basis: 31%;
}

#googleplus-badge-3 {
    flex-basis: 31%;
} */
/* end Faddh W. Footer widget styling */

/* Doug Y. - Headings */

.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
	color: #2c3e50;
	font-size: 2.4rem;
	letter-spacing: 0;
	text-align: center;
}

/* Doug Y. - End of Headings styling */

/* Doug Y. - Remove edit link to see proper spacing */

.page .entry-header .edit-link {
	display: none;
}

/* Doug Y. - End of Remove edit link styling. */

/* Doug Y. - CSS to make fixed header, accounts for admin bar and also removes the extra gray space below the header */

@media screen and (min-width: 48em) {
	.site-header .navigation-top {
		bottom: auto;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 7;
	}

	.admin-bar .site-header .navigation-top {
		top: 32px;
	}

	.custom-header {
		margin-bottom: 0 !important;
		margin-top: 72px;
	}
}_	ï¿½/*

/* Doug Y. - End of CSS fixes for header, accounts for admin bar & extra gray space below the header */
